.custom-badge{
  font-size: 12px;
  line-height: 1;
  border: 1px solid #8a3b3b;
  border-radius: 48px;
  padding: 7px 20px;
  background-color: #8a3b3b;
  text-align: center;
  color: #fff;
  width: fit-content;
}
